<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="/jquery/jquery.min.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/materialize-css/materialize.min.js"></script>
  </body>
</html>